@font-face {
    font-family: bignoodletoo;
    src: url(../fonts/bignoodletoo.ttf);
}



body{
  height:100%;
  width:100%;
  overflow: hidden;
  background-image:url('../img/bg.jpg');;
  font-family: bignoodletoo;
  list-style: none;
}

a{
  text-decoration: none;
  color:#fa9c1e;

}

.sidebar{
  z-index:99;
  background-color:#1d2939;
  opacity: 0.5;
  position: fixed;
  left:0px;
  width:148px;
  height:100%;
  /*timer*/
  -webkit-transition: all 380ms cubic-bezier(.25,.8,.25,1);
	-moz-transition: all 380ms ease-in-out;
	transition: all 380ms ease-in-out;
}

.sidebar:hover{
  opacity: 0.7;
  /*timer*/
  -webkit-transition: all 480ms cubic-bezier(.25,.8,.25,1);
	-moz-transition: all 480ms ease-in-out;
	transition: all 480ms ease-in-out;
}

.sidebar_container{
  text-align: center;
}

.sidebar_icon_home{
  opacity: 0.8;
  padding-top:80px;
  /*timer*/
  -webkit-transition: all 480ms cubic-bezier(.25,.8,.25,1);
	-moz-transition: all 480ms ease-in-out;
	transition: all 480ms ease-in-out;
}

.sidebar_icon_home:hover{
  opacity: 1;
  /*timer*/
  -webkit-transition: all 480ms cubic-bezier(.25,.8,.25,1);
	-moz-transition: all 480ms ease-in-out;
	transition: all 480ms ease-in-out;
}

.sidebar_icon{
  opacity: 0.8;
  padding-top: 80px;
  /*timer*/
  -webkit-transition: all 480ms cubic-bezier(.25,.8,.25,1);
	-moz-transition: all 480ms ease-in-out;
	transition: all 480ms ease-in-out;
}

.sidebar_icon:hover{
  opacity: 1;
  /*timer*/
  -webkit-transition: all 480ms cubic-bezier(.25,.8,.25,1);
	-moz-transition: all 480ms ease-in-out;
	transition: all 480ms ease-in-out;
}

.title{
  right: -600px;
  top: 50px;
  position: fixed;
}

.title img{
    width: 36%;
}

.logo{
  position:fixed;
  right: 20px;
  bottom:50px;
}

.logo img{
  width:80%;
}

.home_title{
  position:fixed;
  left: 240px;
  top: 50px;
}

.home_title img{

  width:20%;

}

/*Home Content Start*/

.home_content_container{
  display:block;
}

.top3{

  position: absolute;
  display:flex;
  text-align: center;
  top:240px;
  width:100%;
  margin-left:40px;
}

.top3_hero{
  padding-left:280px;
  height:400px;
  width:200px;
  text-align: center;
}

.top3_hero_img{
  z-index:7;
}

.top3_hero_img img{
  width:400px;
  /*timer*/
  -webkit-transition: all 380ms cubic-bezier(.25,.8,.25,1);
	-moz-transition: all 380ms ease-in-out;
	transition: all 380ms ease-in-out;
}

.top3_hero_img img:hover{
  width:420px;
  /*timer*/
  -webkit-transition: all 380ms cubic-bezier(.25,.8,.25,1);
	-moz-transition: all 380ms ease-in-out;
	transition: all 380ms ease-in-out;
}

.top3_hero_title{
  margin-left: 140px;
  margin-top:30px;
}

.top3_hero_title a{
  font-size: 40px;
}

.top_data{
  text-align: left;
  z-index:-1;
  width: 340px;
  position:relative;
  margin-top:-210px;
  margin-left:200px;
}

.top_data a{
  font-size:70px;
}

/*Hero Selector Container Start*/

.hero_selector_container{
  display:none;
  position:absolute;
  width:1600px;
  right:0px;
  /*overflow: hidden;*/
}

.all_hero_container{
  margin-top:8%;
  width:80%;
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content:center;
}

.single_hero_container{
  position:relative;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  background-color: rgba(79, 107, 145, 0.2);
  opacity: 0.7;
  width: 180px;
  height: 297px;
  overflow: hidden;
  margin-top:70px;
  margin-left:70px;
  cursor: pointer;
  /*timer*/
  -webkit-transition: all 380ms cubic-bezier(.25,.8,.25,1);
	-moz-transition: all 380ms ease-in-out;
	transition: all 380ms ease-in-out;
}

.single_hero_container:hover{
  opacity: 1;
  /*timer*/
  -webkit-transition: all 380ms cubic-bezier(.25,.8,.25,1);
	-moz-transition: all 380ms ease-in-out;
	transition: all 380ms ease-in-out;
}

.selector_hero_name{
  background-color: rgba(28, 32, 42, 0.8);
  position: absolute;
  bottom: 0px;
  width: 180px;
  height: 60px;
  padding-top:20px;
  z-index:999;
  text-align: center;
}

.selector_hero_name a{
  font-size: 30px;
  color:#fff;
}

/*Hero Detail*/

.hero_detail_container{
  display:none;
  left:400px;
  top: 157px;
  line-height: 90px;
  position: absolute;
}

.hero_detail_container li{
  list-style: none;
  display:flex;
}

.hero_detail_container a{
  font-size: 32px;
}

.hero_info_li{
  cursor: default;
}

.hero_info_li>a:nth-child(2){
  font-size: 52px;
}

.data_compare{
  opacity: 0;
}

.data_compare a{
  font-size:24px;
  padding-left:40px;
}
.hero_compare_top{
  opacity: 0;
  position:absolute;
  right: -50px;
  top: -50px;
}

.hct_container{
  margin-right:100px;
  display:flex;
}


.hct_single {
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgb(79, 107, 145);
  width: 52px;
  height: 52px;
  overflow:hidden;
  margin-left:30px;
}

.hct_single img{
  margin-top:-10px;
  width: 52px;
}

/*Detail page graphic chart*/
canvas#comChart{
  position:absolute;
  top:-100px;
  right:-220px;
  z-index:-1;
  opacity: 0.9;
}

canvas#radarChart{
  position:absolute;
  top: 200px;
  right: 330px;
  z-index:-1;
  opacity: 0.9;
}

.overallMark_container a{
  font-size:50px;
}

/*Responsive rebuild for mobile page. Screen type PAD*/
@media screen and (max-width:1600px){

}

/*Responsive rebuild for mobile page. Screen level @x2*/
@media screen and (max-width:1000px){

  /*Detail page graphic chart*/
  canvas#comChart{
    display:none;
  }

  canvas#radarChart{
    display:none;
  }

  body{
    background-image: url(../img/m_bg.jpg);
    background-size: 320%;
  }

  .sidebar{
    left: 0px;
    bottom: 0px;
    width:100%;
    height: 160px;
  }

  .sidebar_container{
    display:flex;
  }

  .sidebar_icon_home{
    padding-left: 7%;
    padding-top: 20px;
  }

  .sidebar_icon{
    padding-left: 10%;
    padding-top: 20px;
  }

  .logo{
    left: 50px;
    top: 50px;
    right: initial;
    bottom: initial;
    opacity: 0.9;
  }

  .title{
    right: -600px;
  }

  .home_title{
    left:170px;
  }

  .top3{
    display:block;
    padding-bottom: 240px;
  }

  .top3_hero{
    margin-bottom: 110px;
    height: 350px;
    width: 150px;
  }

  .top3_hero_img img{
    width:250px;
  }

  .hero_profile{
    padding-bottom: 240px;
  }

  .all_hero_container{
    margin-bottom: 240px;
  }

  .hero_selector_container{
    width:760px;

  }

  .hero_detail_container{
    left: -180px;
    top: 887px;
    margin-bottom: 100px;
  }

  .single_hero_container{
    left: -30px !important;
    top: 50px;
  }

}
